#app {
	color: #4d4d4d;
	min-width: 550px;
	max-width: 850px;
	margin: 0 auto;
}

a.active {
	color: orange;
}

nav {
	padding-top: 20px;
}
.add-button {
	margin-right: 10px;
}
.form-group .label-block {
	margin-right: 10px;
}
.form-group.filter-data {
	float: right;
	width: 20%;
	margin-bottom: 0;
	margin-left: 10px;
}
.form-group.filter-data label {
	display: none;
}
.add-item-btn {
	margin-left: 10px;
}

.item.status:nth-child(2n+1) {
	margin: 10px 0;
    background: #f9ffe6;
}
.item.status {
	height: 40px;
	line-height: 40px
}
.item.status .form-check-input {
	margin-right: 10px;
	float: left;
	height: 32px;
	margin-top: 0;
}
.item.status > * {
    vertical-align: middle;
    line-height: 32px!important;
}
.item.status a {
	font-weight: bold;
	color: #4d4d4d;
}
.item.status.done-true .title-link {
	text-decoration: line-through;
	color: red;
}
.item.status.done-true .title-link span {
	color: #4d4d4d;
}
.group-link {
	text-align: center;
}
.group-link .group-title {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0px 10px;
	line-height: 30px;
	background-color: #e3e3e4;
	display: inline-block;
}

.item .glyphicon-remove {
	float: right;
	color: red;
}

.item .glyphicon-remove:hover {
	cursor: pointer;
}